---
import { FolderGit2, Eye } from "lucide-react";
export interface Props {
    title: string;
    description: string;
    image: string;
    technologies: string[];
    repoUrl?: string;
    demoUrl?: string;
}
const { title, description, image, technologies, repoUrl, demoUrl } = Astro.props;
---
<div class="grid grid-flow-row gap-2 h-fit lg:w-96 md:w-96 sm:w-96 w-full">
        <img src={image} alt={title} class="rounded-2xl lg:h-40 lg:w-full md:w-96 sm:w-96 w-72"/>
        <div>
                <h3 class="text-2xl font-semibold">{title}</h3>
        </div>
        <div>
                <p class="lg:text-sm md:text-sm sm:text-sm text-sm">{description}</p>
        </div>
        <div class="flex gap-1 pl-2">
                {technologies.map((tech) => (
                    <img src={tech} class="bg-zinc-200 rounded-full size-9 p-1"  alt={title} />
                ))}
        </div>
        <div class="pl-2">
                {repoUrl && (
                    <a href={repoUrl} target="_blank">

                    </a>
                )}
                {demoUrl && (
                    <a href={demoUrl} target="_blank">

                    </a>
                )}
        </div>
</div>