---
import  { Button} from "@components/ui/button.tsx";
import { FolderGit2, Eye } from "lucide-react";
export interface Props {
    title: string;
    description: string;
    image: string;
    technologies: string[];
    repoUrl?: string;
    demoUrl?: string;
}
const { title, description, image, technologies, repoUrl, demoUrl } = Astro.props;
---
<div class="grid grid-flow-row gap-2 p-1 lg:h-100 sm:h-100 md:h-100 w-96">
        <div class="">
                <img src={image} alt={title} class="rounded-2xl h-40 w-full"/>
        </div>
        <div class="pl-2">
                <h3 class="text-2xl font-semibold">{title}</h3>
                <p>{description}</p>
        </div>
        <div class="flex gap-1 pl-2">
                {technologies.map((tech) => (
                    <img src={tech} class="bg-zinc-200 rounded-full size-10 p-1"  alt={title} />
                ))}
        </div>
        <div class="pl-2">
                {repoUrl && (
                    <a href={repoUrl} target="_blank">
                            <Button variant='default'>Repo <FolderGit2 /></Button>
                    </a>
                )}
                {demoUrl && (
                    <a href={demoUrl} target="_blank">
                            <Button variant='default'>Demo <Eye /></Button>
                    </a>
                )}
        </div>
</div>